# This analysis explores real estate price trends in Lagos, Nigeria, focusing on five key areas;Banana Island, Lekki Phase 1, Ifo, Epe, and Ikorodu.I utilize the pandas library for data manipulation and potentially explore predictive modeling techniques from scikit-learn to forecast future prices.
    i am gbadamosi taoheed alade member of 3MTT, data science category

In [1]:
#PRICE PREDICTION IN FIVE YEARS TIME.

In [2]:
#import the necessary libraries

In [3]:
import pandas as pd

In [4]:
import numpy as np

In [5]:
import matplotlib.pyplot as plt

In [6]:
import seaborn as sns

In [7]:
import sklearn as sk

In [8]:
#now let create dictionary for our data

In [9]:
given_data={"locations":['lekki phase 1', 'Lekki', 'Epe', 'Ikorodu', 'Banana Estate','Ifo'],
"current_prices(#)":[100000,200000, 100000, 90000, 250000, 80000],
"percent_increase":[0.40,0.35, 0.30, 0.38, 0.45, 0.25],"years_back":[2023,2022,2021,2020,2019,2018],
"years_forward":[2025,2026,2027,2028,2029,2030]}

In [106]:
given_data=pd.DataFrame(given_data)

In [107]:
given_data.head(6)

,locations,current_prices(#),percent_increase,years_back,years_forward,historical_prices,predicted_prices
0,lekki phase 1,100000,0.40,2023,2025,1.000000e+06,1.400000e+06
1,Lekki,200000,0.35,2022,2026,1.481481e+23,2.700000e+23
2,Epe,100000,0.30,2021,2027,5.917160e+38,1.300000e+30
3,Ikorodu,90000,0.38,2020,2028,3.424564e+53,1.242000e+66
4,Banana Estate,250000,0.45,2019,2029,5.655461e+72,3.625001e+49
5,Ifo,80000,0.25,2018,2030,2.621443e+35,1.000000e+47

In [17]:
# Function to calculate historical prices for each location
def calculate_historical_prices(row):
    historical_prices = []
    for year in range(row['years_back'], 2024): 
        # 2024 as the current year
        price = row['current_prices(#)'] / (1 + row['percent_increase']) ** (2023 - year)
        historical_prices.append(price)
    return historical_prices

In [66]:
# Function to calculate predicted prices for each location
def calculate_predicted_prices(colums):  
     predicted_prices = []

In [68]:
def calculate_predicted_prices(row):
    predicted_prices = []
    for year in range(2025, row['years_forward'] + 1):
        price = row['current_prices(#)'] * (1 + row['percent_increase']) ** (year - 2024)
        predicted_prices.append(price)
    return predicted_prices

In [69]:
# Calculate historical and predicted prices for each location
given_data['historical_prices'] = given_data.apply(calculate_historical_prices, axis=1)

In [70]:
given_data['predicted_prices'] = given_data.apply(calculate_predicted_prices, axis=1)

In [71]:
print("given_data with Historical and Predicted Prices:")
print(given_data)

given_data with Historical and Predicted Prices:
       locations  current_prices(#)  percent_increase  years_back  \
0  lekki phase 1             100000              0.40        2023
1          Lekki             200000              0.35        2022
2            Epe             100000              0.30        2021
3        Ikorodu              90000              0.38        2020
4  Banana Estate             250000              0.45        2019
5            Ifo              80000              0.25        2018

   years_forward                                  historical_prices  \
0           2025                                         [100000.0]
1           2026                     [148148.14814814815, 200000.0]
2           2027   [59171.59763313609, 76923.07692307692, 100000.0]
3           2028  [34245.63710583272, 47258.97920604916, 65217.3...
4           2029  [56554.608422960606, 82004.18221329288, 118906...
5           2030  [26214.4, 32768.0, 40960.0, 51200.0, 64000.0, ...

                                    predicted_prices
0                                         [140000.0]
1                     [270000.0, 364500.00000000006]
2           [130000.0, 169000.00000000003, 219700.0]
3  [124199.99999999999, 171395.99999999997, 23652...
4  [362500.0, 525625.0, 762156.25, 1105126.5625, ...
5  [100000.0, 125000.0, 156250.0, 195312.5, 24414...

In [72]:
given_data.head(6)

,locations,current_prices(#),percent_increase,years_back,years_forward,historical_prices,predicted_prices
0,lekki phase 1,100000,0.40,2023,2025,[100000.0],[140000.0]
1,Lekki,200000,0.35,2022,2026,"[148148.14814814815, 200000.0]","[270000.0, 364500.00000000006]"
2,Epe,100000,0.30,2021,2027,"[59171.59763313609, 76923.07692307692, 100000.0]","[130000.0, 169000.00000000003, 219700.0]"
3,Ikorodu,90000,0.38,2020,2028,"[34245.63710583272, 47258.97920604916, 65217.3...","[124199.99999999999, 171395.99999999997, 23652..."
4,Banana Estate,250000,0.45,2019,2029,"[56554.608422960606, 82004.18221329288, 118906...","[362500.0, 525625.0, 762156.25, 1105126.5625, ..."
5,Ifo,80000,0.25,2018,2030,"[26214.4, 32768.0, 40960.0, 51200.0, 64000.0, ...","[100000.0, 125000.0, 156250.0, 195312.5, 24414..."

In [73]:
given_data.isnull()

,locations,current_prices(#),percent_increase,years_back,years_forward,historical_prices,predicted_prices
0,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False

In [74]:
given_data['current_prices(#)'].describe()

count         6.000000
mean     136666.666667
std       70616.334277
min       80000.000000
25%       92500.000000
50%      100000.000000
75%      175000.000000
max      250000.000000
Name: current_prices(#), dtype: float64

In [75]:
given_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   locations          6 non-null      object
 1   current_prices(#)  6 non-null      int64
 2   percent_increase   6 non-null      float64
 3   years_back         6 non-null      int64
 4   years_forward      6 non-null      int64
 5   historical_prices  6 non-null      object
 6   predicted_prices   6 non-null      object
dtypes: float64(1), int64(3), object(3)
memory usage: 468.0+ bytes

In [76]:
given_data['current_prices(#)'].describe()

count         6.000000
mean     136666.666667
std       70616.334277
min       80000.000000
25%       92500.000000
50%      100000.000000
75%      175000.000000
max      250000.000000
Name: current_prices(#), dtype: float64

In [77]:
given_data['historical_prices'].isnull().any()

False

In [78]:

given_data['historical_prices'].duplicated().any()

False

In [79]:
given_data.head(6)

,locations,current_prices(#),percent_increase,years_back,years_forward,historical_prices,predicted_prices
0,lekki phase 1,100000,0.40,2023,2025,[100000.0],[140000.0]
1,Lekki,200000,0.35,2022,2026,"[148148.14814814815, 200000.0]","[270000.0, 364500.00000000006]"
2,Epe,100000,0.30,2021,2027,"[59171.59763313609, 76923.07692307692, 100000.0]","[130000.0, 169000.00000000003, 219700.0]"
3,Ikorodu,90000,0.38,2020,2028,"[34245.63710583272, 47258.97920604916, 65217.3...","[124199.99999999999, 171395.99999999997, 23652..."
4,Banana Estate,250000,0.45,2019,2029,"[56554.608422960606, 82004.18221329288, 118906...","[362500.0, 525625.0, 762156.25, 1105126.5625, ..."
5,Ifo,80000,0.25,2018,2030,"[26214.4, 32768.0, 40960.0, 51200.0, 64000.0, ...","[100000.0, 125000.0, 156250.0, 195312.5, 24414..."

In [80]:
def clean_prices(prices):
    flattened_prices = ', '.join(map(str, prices))
    # Remove non-numeric characters from the string
    cleaned_prices = ''.join(filter(str.isdigit, flattened_prices))
    return cleaned_prices

In [81]:
# Clean 'historical_prices' column
given_data['historical_prices']=given_data['historical_prices'].apply(clean_prices)

In [82]:
# Clean 'predicted_prices' column
given_data['predicted_prices'] =given_data['predicted_prices'].apply(clean_prices)

In [83]:
# Convert cleaned strings to numeric format
given_data['historical_prices'] = pd.to_numeric(given_data['historical_prices'], errors='coerce')
given_data['predicted_prices'] = pd.to_numeric(given_data['predicted_prices'], errors='coerce')

In [84]:
print(given_data.dtypes)

locations             object
current_prices(#)      int64
percent_increase     float64
years_back             int64
years_forward          int64
historical_prices    float64
predicted_prices     float64
dtype: object

In [85]:
print(given_data[['historical_prices', 'predicted_prices']])

   historical_prices  predicted_prices
0       1.000000e+06      1.400000e+06
1       1.481481e+23      2.700000e+23
2       5.917160e+38      1.300000e+30
3       3.424564e+53      1.242000e+66
4       5.655461e+72      3.625001e+49
5       2.621443e+35      1.000000e+47

In [86]:
given_data.head(6)

,locations,current_prices(#),percent_increase,years_back,years_forward,historical_prices,predicted_prices
0,lekki phase 1,100000,0.40,2023,2025,1.000000e+06,1.400000e+06
1,Lekki,200000,0.35,2022,2026,1.481481e+23,2.700000e+23
2,Epe,100000,0.30,2021,2027,5.917160e+38,1.300000e+30
3,Ikorodu,90000,0.38,2020,2028,3.424564e+53,1.242000e+66
4,Banana Estate,250000,0.45,2019,2029,5.655461e+72,3.625001e+49
5,Ifo,80000,0.25,2018,2030,2.621443e+35,1.000000e+47

In [105]:
given_data.to_csv("Desktop/given_data.csv", index=False)

In [2]:
#visulization on power bi